<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AmpedSuccess</title>
	<link media="all" rel="stylesheet" href="css/main.css">
	<script src="js/jquery-3.3.1.min.js" defer></script>
	<script src="js/jquery.main.js" defer></script>
</head>
<body>
	<div id="wrapper">
		<header id="header">
			<div class="container">
				<div class="columns-wrapper">
					{% if module.logo.image.src|escape_url %}
					<div class="logo-column">
						<strong class="logo" style="width: {{module.logo.image.width }}px;">
							{% set href = module.logo.link_field.url.href %}
							{% if module.logo.link_field.url.type is equalto "EMAIL_ADDRESS" %}
							  {% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
								{% if module.logo.link_field.url.type is equalto "CALL_TO_ACTION"  %}
								  href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
								{% else %}
								  href="{{ href|escape_url }}"
								{% endif %}
								{% if module.logo.link_field.open_in_new_tab %}
								  target="_blank"
								{% endif %}
								{% if module.logo.link_field.rel %}
								  rel="{{ module.logo.link_field.rel|escape_attr }}"
								{% endif %}
								>
								 {% set loadingAttr = module.logo.image.loading != 'disabled' ? 'loading="{{ module.logo.image.loading|escape_attr }}"' : '' %}
								<img src="{{ module.logo.image.src|escape_url }}" alt="{{ module.logo.image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
							</a>
						</strong>
					</div>
					{% endif %}
					<div class="menu-column">
						<nav id="nav-bar">
							<a class="opener" href="javascript:;"><span>Menu</span></a>
							<div class="drop">
								<div class="menu-block">
									{% menu id="{{ module.menu_field }}" %}
								</div>
								{% if module.button.text_field %}
								<div class="btn-block">
									{% set href = module.button.link_field.url.href %}
									{% if module.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
									  {% set href = "mailto:" + href %}
									{% endif %}
									<a class="btn" href="{{ href }}" 
									  {% if module.button.link_field.url.type is equalto "CALL_TO_ACTION"  %}
									    href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
									  {% else %}
									    href="{{ href|escape_url }}"
									  {% endif %}
									  {% if module.button.link_field.open_in_new_tab %}
									    target="_blank"
									  {% endif %}
									  {% if module.button.link_field.rel %}
									    rel="{{ module.button.link_field.rel|escape_attr }}"
									  {% endif %}
									  >
									  {{ module.button.text_field }}
									</a>
								</div>
								{% endif %}
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main id="main">
			<section class="intro-section {% if not module.image_field.src %}post-only{% endif %} {% if module.popup == 'popup_on' %}with-popup{% endif %}">
				<div class="bg-wrapper" style="background-image: url({{ module.background_image.src|escape_url }});"></div>
				<div class="container">
					<div class="columns-block" style="margin-bottom:{{ module.post_padding }}px;">
						{% if module.title %}
						<div class="post-column">
							{% inline_rich_text field="title" value="{{ module.title }}" %}
						</div>
						{% endif %}
						{% if module.image_field.src %}
						<div class="img-column" style="max-width: {{ module.image_field.width|escape_attr }}px;">
							<div class="img-holder">
								 {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading|escape_attr }}"' : '' %}
								<img src="{{ module.image_field.src|escape_url }}" alt="{{ module.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
							</div>
						</div>
						{% endif %}
					</div>
					{% if module.point|length > 1 %}
					<div class="points-block">
						{% for item in module.point %}
						<div class="column">
							{% if item.richtext_field %}
							<i class="{{ item.ico }}"></i>
							{% endif %}
							{{ item.richtext_field }}
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</section>
			<section class="about-section">
				<div class="container">
					<div class="columns-block">
						{% if module.richtext_field %}
						<div class="post-column">
							{% if module.subtitle %}
							<span class="subtitle-holder">{{ module.subtitle }}</span>
							{% endif %}
							{% inline_rich_text field="richtext_field" value="{{ module.richtext_field }}" %}
						</div>
						{% endif %}
						{% if module.title %}
						<div class="title-column">
							{% inline_rich_text field="title" value="{{ module.title }}" %}
						</div>
						{% endif %}
					</div>
				</div>
			</section>
			<section class="key_offering-section">
				<div class="container">
					{% if module.title %}
					<div class="title-block">
						{% inline_rich_text field="title" value="{{ module.title }}" %}
					</div>
					{% endif %}
					<div class="columns-block">
						{% for item in module.card %}
						{% if item.subtitle %}
						<div class="card-block">
							{% set href = item.link_field.url.href %}
							{% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
							  {% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
							  {% if item.link_field.url.type is equalto "CALL_TO_ACTION"  %}
							    href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
							  {% else %}
							    href="{{ href|escape_url }}"
							  {% endif %}
							  {% if item.link_field.open_in_new_tab %}
							    target="_blank"
							  {% endif %}
							  {% if item.link_field.rel %}
							    rel="{{ item.link_field.rel|escape_attr }}"
							  {% endif %}
							  >
							  {% if item.image_field.src %}
							  <div class="img-holder">
							  	 {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
							  	<img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
							  </div>
							  {% endif %}
							  <div class="cta-holder">
							  	<span class="cta">{{ item.subtitle }}</span>
							  </div>
							</a>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					{% if module.button.text_field %}
					<div class="btn-holder">
						{% set href = module.button.link_field.url.href %}
						{% if module.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
						  {% set href = "mailto:" + href %}
						{% endif %}
						<a class="btn" href="{{ href }}"
						  {% if module.button.link_field.url.type is equalto "CALL_TO_ACTION"  %}
						    href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
						  {% else %}
						    href="{{ href|escape_url }}"
						  {% endif %}
						  {% if module.button.link_field.open_in_new_tab %}
						    target="_blank"
						  {% endif %}
						  {% if module.button.link_field.rel %}
						    rel="{{ module.button.link_field.rel|escape_attr }}"
						  {% endif %}
						  >
						  {{ module.button.text_field }}
						</a>
					</div>
					{% endif %}
				</div>
			</section>
			<section class="post-section">
				<div class="container">
					<div class="divider"></div>
					<div class="section-wrapper">
						{% if module.title %}
						<div class="title-block">
							<span class="subtitle-holder">{{ module.title }}</span>
						</div>
						{% endif %}
						{% if module.visible_text %}
						<div class="post-block">
							<div class="post-wrapper">
								<div class="post-visible">
									{% inline_rich_text field="visible_text" value="{{ module.visible_text }}" %}
								</div>
								{% if module.hidden_text %}
								<div class="post-hidden">
									{% inline_rich_text field="hidden_text" value="{{ module.hidden_text }}" %}
								</div>
								{% endif %}
							</div>
							<div class="cta-holder">
								<a class="cta opener" href="javascript:;"></a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</section>
			<section class="key_benefits-section {% if module.section == 'process_overview' %}process-overview{% endif %}">
				<div class="container">
					<div class="columns-block">
						<div class="left-column">
							{% if module.title %}
							<div class="title-block">
								{% if module.subtitle %}
								<span class="subtitle">{{ module.subtitle }}</span>
								{% endif %}
								{% inline_rich_text field="title" value="{{ module.title }}" %}
							</div>
							{% endif %}
							<ol class="benefits-list">
								{% for item in module.richtext_field %}
								<li>
									{% inline_rich_text field="richtext_field" value="{{ item }}" %}
								</li>
								{% endfor %}
							</ol>
						</div>
						{% if module.phone_image.image_field.src or module.image_field.src %}
						<div class="right-column" {% if module.image_field.src %} style="max-width: {{ module.image_field.max_width|escape_attr }}px;" {% endif %}>
							{% if module.right_column == "phone" %}
							<div class="img-holder" style="{% if module.phone_image.background.src %}background-image: url({{ module.phone_image.background.src|escape_url }});{% endif %}">
								 {% set loadingAttr = module.phone_image.image_field.loading != 'disabled' ? 'loading="{{ module.phone_image.image_field.loading|escape_attr }}"' : '' %}
								<img src="{{ module.phone_image.image_field.src|escape_url }}" alt="{{ module.phone_image.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
							</div>
							{% elif module.right_column == "image" %}
							<div class="img-block">
								 {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading|escape_attr }}"' : '' %}
								<img src="{{ module.image_field.src|escape_url }}" alt="{{ module.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
							</div>
							{% endif %}
						</div>
						{% endif %}
					</div>
				</div>
			</section>
			<section class="services-section">
				<div class="container">
					<div class="columns-block">
						{% for item in module.card_block %}
						<div class="column" style="background-image: url('{{ item.background.src|escape_url }}')">
							<div class="card-block">
								{% if item.subtitle %}
								<div class="subtitle-holder">
									{% inline_rich_text field="subtitle" value="{{ item.subtitle }}" %}
								</div>
								{% endif %}
								{% if item.post %}
								<div class="post-holder">
									{% inline_rich_text field="post" value="{{ item.post }}" %}
								</div>
								{% endif %}
								{% if item.button.text_field %}
								<div class="cta-holder">
									{% set href = item.button.link_field.url.href %}
									{% if item.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
									  {% set href = "mailto:" + href %}
									{% endif %}
									<a class="btn btn-orange" href="{{ href }}"
									  {% if item.button.link_field.url.type is equalto "CALL_TO_ACTION"  %}
									    href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
									  {% else %}
									    href="{{ href|escape_url }}"
									  {% endif %}
									  {% if item.button.link_field.open_in_new_tab %}
									    target="_blank"
									  {% endif %}
									  {% if item.button.link_field.rel %}
									    rel="{{ item.button.link_field.rel|escape_attr }}"
									  {% endif %}
									  >
									  {{ item.button.text_field }}
									</a>
								</div>
								{% endif %}
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
			<section class="get_started-section" style="background-image: url({{ module.background.src|escape_url }});">
				<div class="container">
					<div class="post-block">
						{% if module.ico != 'nothing' %}
						<div class="ico-holder">
							<i class="{{ module.ico }}"></i>
						</div>
						{% endif %}
						{% if module.richtext_field %}
						<div class="post-holder">
							{% inline_rich_text field="richtext_field" value="{{ module.richtext_field }}" %}
						</div>
						{% endif %}
						{% if module.form_field %}
						<div class="form-block">
							<div class="form-holder">
								{% form
									form_to_use="{{ module.form_field.form_id }}"
									response_response_type="{{ module.form_field.response_type }}"
									response_message="{{ module.form_field.message }}"
									response_redirect_id="{{ module.form_field.redirect_id }}"
									response_redirect_url="{{module.form_field.redirect_url}}"
									gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
								%}
							</div>
						</div>
						{% elif module.button.text_field %}
						<div class="btn-holder">
							{% set href = module.button.link_field.url.href %}
							{% if module.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
							  {% set href = "mailto:" + href %}
							{% endif %}
							<a class="btn" href="{{ href }}"
							  {% if module.button.link_field.url.type is equalto "CALL_TO_ACTION"  %}
							    href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
							  {% else %}
							    href="{{ href|escape_url }}"
							  {% endif %}
							  {% if module.button.link_field.open_in_new_tab %}
							    target="_blank"
							  {% endif %}
							  {% if module.button.link_field.rel %}
							    rel="{{ module.button.link_field.rel|escape_attr }}"
							  {% endif %}
							  >
							  {{ module.button.text_field }}
							</a>
						</div>
						{% endif %}
					</div>
				</div>
			</section>
			<section class="preview-section">
				<div class="bg-wrapper" style="background-image: url({{ module.background_image.src|escape_url }});"></div>
				<div class="container">
					{% if module.title %}
					<div class="title-block">
						{% inline_rich_text field="title" value="{{ module.title }}" %}
					</div>
					{% endif %}
					<div class="form-block">
						{% if module.subtitle %}
						<div class="subtitle-block">
							{% inline_rich_text field="subtitle" value="{{ module.subtitle }}" %}
						</div>
						{% endif %}
						{% if module.form_field.form_id %}
						<div class="form-holder">
							{% form
								form_to_use="{{ module.form_field.form_id }}"
								response_response_type="{{ module.form_field.response_type }}"
								response_message="{{ module.form_field.message }}"
								response_redirect_id="{{ module.form_field.redirect_id }}"
								response_redirect_url="{{module.form_field.redirect_url}}"
								gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
							%}
						</div>
						{% endif %}
					</div>
				</div>
			</section>

			<section class="podcasts-section">
			  <div class="container">
			    <div class="columns-block">
			      {% for item in module.column %}
			      <div class="column">
			        {% if item.card == "video" %}
			        <div class="video-block">
			          <a class="play-button" href="javascript:;" target="_self">
			            {% if item.video_block.video_preview.src %}
			            <span class="play-ico"></span>
			            <div class="img-holder">
			              {% set loadingAttr = item.video_block.video_preview.loading != 'disabled' ? 'loading="{{ item.video_block.video_preview.loading|escape_attr }}"' : '' %}
			              <img src="{{ item.video_block.video_preview.src|escape_url }}" alt="{{ item.video_block.video_preview.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
			            </div>
			            {% endif %}
			          </a>
			          {% if item.video_block.video %}
			          <video class="myVideo" controls>
			            <source src="{{ item.video_block.video }}" type="video/mp4" allow="autoplay;">
			          </video>
			          {% endif %}
			        </div>
			        {% elif item.card == "placeholder" %}
			        {% set href = item.link.url.href %}
			        {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
			        {% set href = "mailto:" + href %}
			        {% endif %}
			        <a class="podcast-block" href="{{ href }}"
			           {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
			           href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
			           {% else %}
			           href="{{ href|escape_url }}"
			           {% endif %}
			           {% if item.link.open_in_new_tab %}
			           target="_blank"
			           {% endif %}
			           {% if item.link.rel %}
			           rel="{{ item.link.rel|escape_attr }}"
			           {% endif %}
			           >
			          <div class="img-holder">
			          	{% if item.button.text_field %}<span class="play-ico"></span>{% endif %}
			            {% set loadingAttr = item.placeholder.loading != 'disabled' ? 'loading="{{ item.placeholder.loading|escape_attr }}"' : '' %}
			            <img src="{{ item.placeholder.src|escape_url }}" alt="{{ item.placeholder.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
			          </div>
			        </a>
			        {% endif %}
			        {% if item.description %}
			        <div class="description-block">
			          {% inline_rich_text field="description" value="{{ item.description }}" %}
			        </div>
			        {% endif %}
			        {% if item.button.text_field %}
			        <div class="cta-holder">
			          {% set href = item.button.link_field.url.href %}
			          {% if item.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
			          {% set href = "mailto:" + href %}
			          {% endif %}
			          <a class="cta" href="{{ href }}"
			             {% if item.button.link_field.url.type is equalto "CALL_TO_ACTION"  %}
			             href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
			             {% else %}
			             href="{{ href|escape_url }}"
			             {% endif %}
			             {% if item.button.link_field.open_in_new_tab %}
			             target="_blank"
			             {% endif %}
			             {% if item.button.link_field.rel %}
			             rel="{{ item.button.link_field.rel|escape_attr }}"
			             {% endif %}
			             >
			            {{ item.button.text_field }}
			          </a>
			        </div>
			        {% endif %}
			      </div>
			      {% endfor %}
			    </div>
			  </div>
			</section>

			<section class="podcasts-section">
				<div class="container">
					<div class="columns-block">
						{% for item in module.column %}
						<div class="column">
							{% if item.card == "video" %}
							<div class="video-block">
								<a class="play-button" href="javascript:;" target="_self">
									{% if item.video_block.video_preview.src %}
									<span class="play-ico"></span>
									<div class="img-holder">
										{% set loadingAttr = item.video_block.video_preview.loading != 'disabled' ? 'loading="{{ item.video_block.video_preview.loading|escape_attr }}"' : '' %}
										<img src="{{ item.video_block.video_preview.src|escape_url }}" alt="{{ item.video_block.video_preview.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
									</div>
									{% endif %}
								</a>
								{% if item.video_block.video %}
								<video class="myVideo" controls>
									<source src="{{ item.video_block.video }}" type="video/mp4" allow="autoplay;">
									</video>
									{% endif %}
								</div>
								{% elif item.card == "placeholder" %}
								<a class="podcast-block" href="#">
									{% if item.content == "yes" %}<span class="play-ico"></span>{% endif %}
									<div class="img-holder">
										{% set loadingAttr = item.placeholder.loading != 'disabled' ? 'loading="{{ item.placeholder.loading|escape_attr }}"' : '' %}
										<img src="{{ item.placeholder.src|escape_url }}" alt="{{ item.placeholder.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
									</div>
								</a>
								{% endif %}
								{% if item.description %}
								<div class="description-block">
									{% inline_rich_text field="description" value="{{ item.description }}" %}
								</div>
								{% endif %}
								{% if item.button.text_field %}
								<div class="cta-holder">
									{% set href = item.button.link_field.url.href %}
									{% if item.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
									{% set href = "mailto:" + href %}
									{% endif %}
									<a class="cta" href="{{ href }}"
									{% if item.button.link_field.url.type is equalto "CALL_TO_ACTION"  %}
									href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
									{% else %}
									href="{{ href|escape_url }}"
									{% endif %}
									{% if item.button.link_field.open_in_new_tab %}
									target="_blank"
									{% endif %}
									{% if item.button.link_field.rel %}
									rel="{{ item.button.link_field.rel|escape_attr }}"
									{% endif %}
									>
									{{ item.button.text_field }}
								</a>
							</div>
							{% endif %}
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
			<section class="speaking-section">
				<div class="container">
					<div class="columns-block">
						<div class="left-column">
							{% if module.type_column == 'video' %}
							<div class="video-block">
								<a class="play-button" href="javascript:;" target="_self">
									{% if module.video.video_preview.src %}
									<span class="play-ico"></span>
									<div class="img-holder">
										 {% set loadingAttr = module.video.video_preview.loading != 'disabled' ? 'loading="{{ module.video.video_preview.loading|escape_attr }}"' : '' %}
										<img src="{{ module.video.video_preview.src|escape_url }}" alt="{{ module.video.video_preview.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
									</div>
									{% endif %}
								</a>
								{% if module.video.video %}
								<video class="myVideo" controls>
									<source src="{{ module.video.video }}" type="video/mp4" allow="autoplay;">
								</video>
								{% endif %}
							</div>
							{% elif module.image_field.src %}
							<div class="img-block">
								 {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading|escape_attr }}"' : '' %}
								<img src="{{ module.image_field.src|escape_url }}" alt="{{ module.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
							</div>
							{% endif %}
						</div>
						<div class="post-column">
							{% if module.title %}
							<div class="title-block">
								{% inline_rich_text field="title" value="{{ module.title }}" %}
							</div>
							{% endif %}
							{% if module.post %}
							<div class="post-block">
								{% inline_rich_text field="post" value="{{ module.post }}" %}
							</div>
							{% endif %}
							<div class="list-block">
								{% if module.subtitle %}
								<span class="subtitle-holder">{{ module.subtitle }}</span>
								{% endif %}
								{% for item in module.topics_item %}
								{% if item %}
								<ul>
									<li>{{ item }}</li>
								</ul>
								{% endif %}
								{% endfor %}
							</div>
							{% if module.button.text_field %}
							<div class="btn-holder">
								{% set href = module.button.link_field.url.href %}
								{% if module.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
								  {% set href = "mailto:" + href %}
								{% endif %}
								<a class="btn" href="{{ href }}"
								  {% if module.button.link_field.url.type is equalto "CALL_TO_ACTION"  %}
								    href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
								  {% else %}
								    href="{{ href|escape_url }}"
								  {% endif %}
								  {% if module.button.link_field.open_in_new_tab %}
								    target="_blank"
								  {% endif %}
								  {% if module.button.link_field.rel %}
								    rel="{{ module.button.link_field.rel|escape_attr }}"
								  {% endif %}
								  >
								  {{ module.button.text_field }}
								</a>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</section>
			<section class="form-section" style="padding-top:{{ module.padding_top }}px;">
				<div class="container">
					{% if module.title %}
					<div class="title-block">
						{% inline_rich_text field="title" value="{{ module.title }}" %}
					</div>
					{% endif %}
					<div class="form-holder">
						{% form
						form_to_use="{{ module.form_field.form_id }}"
						response_response_type="{{ module.form_field.response_type }}"
						response_message="{{ module.form_field.message }}"
						response_redirect_id="{{ module.form_field.redirect_id }}"
						response_redirect_url="{{module.form_field.redirect_url}}"
						gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
						%}
					</div>
				</div>
			</section>
			<section class="testimonials-section" style="padding-top: {{ module.padding_top }}px; padding-bottom: {{ module.padding_bottom }}px;">
				<div class="container">
					{% if module.title %}
					<div class="title-block">
						{% inline_rich_text field="title" value="{{ module.title }}" %}
					</div>
					{% endif %}
					<div class="slider-block">
						{% for item in module.slide %}
						{% if item.comment %}
						<div class="slide">
							<div class="comment-holder">
								<p>{% inline_rich_text field="comment" value="{{ item.comment }}" %}</p>
							</div>
							{% if item.author %}
							<div class="author-holder">
								<p>— {{ item.author }}</p>
							</div>
							{% endif %}
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</section>
			<section class="quick_guide-section">
				<div class="container">
					<div class="columns-block">
						<div class="post-column">
							{% if module.title %}
							<div class="title-block">
								{% inline_rich_text field="title" value="{{ module.title }}" %}
							</div>
							{% endif %}
							{% if module.post %}
							<div class="post-block">
								{% inline_rich_text field="post" value="{{ module.post }}" %}
							</div>
							{% endif %}
							<div class="list-block">
								{% if module.subtitle %}
								<span class="subtitle-holder">{{ module.subtitle }}</span>
								{% endif %}
								{% if item %}
								<ul>
									{% for item in module.topics_item %}
									<li>
										{% inline_rich_text field="topics_item" value="{{ item }}" %}
									</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
							{% if module.reminder_text %}
							<span class="reminder-text">{{ module.reminder_text }}</span>
							{% endif %}
						</div>
						<div class="img-column">
							{% if module.image_field.src %}
							<div class="img-holder">
								{% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading|escape_attr }}"' : '' %}
								<img src="{{ module.image_field.src|escape_url }}" alt="{{ module.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</section>
			<section class="calendar-section">
				<div class="container">
					<div class="meeting-holder">
						<div class="meetings-iframe-container" data-src="{{ module.meeting_field }}?embed=true"></div>
						<script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
					</div>
				</div>
			</section>
			<section class="privacy_policy-section">
				<div class="container">
					<div class="title-block">
						{% inline_rich_text field="title" value="{{ module.title }}" %}
					</div>
					<div class="text-block">
						{% inline_rich_text field="post_text" value="{{ module.post_text }}" %}
					</div>
					<div class="footer-text">
						<p><b>AmpedSuccess</b></p>
						<p><b>Email:</b> <a href="mailto:info@ampedsuccess.com">info@ampedsuccess.com</a></p>
					</div>
				</div>
			</section>
		</main>
		<footer id="footer">
			<div class="container">
				<div class="top-block">
					{% if module.logo.image.src|escape_url %}
					<div class="logo-holder">
						<strong class="logo" style="width: {{module.logo.image.width }}px;">
							{% set href = module.logo.link_field.url.href %}
							{% if module.logo.link_field.url.type is equalto "EMAIL_ADDRESS" %}
							  {% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
								{% if module.logo.link_field.url.type is equalto "CALL_TO_ACTION"  %}
								  href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
								{% else %}
								  href="{{ href|escape_url }}"
								{% endif %}
								{% if module.logo.link_field.open_in_new_tab %}
								  target="_blank"
								{% endif %}
								{% if module.logo.link_field.rel %}
								  rel="{{ module.logo.link_field.rel|escape_attr }}"
								{% endif %}
								>
								 {% set loadingAttr = module.logo.image.loading != 'disabled' ? 'loading="{{ module.logo.image.loading|escape_attr }}"' : '' %}
								<img src="{{ module.logo.image.src|escape_url }}" alt="{{ module.logo.image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
							</a>
						</strong>
						{% endif %}
					</div>
					<div class="menu-block">
						{% menu id="{{ module.menu_field }}" %}
					</div>
				</div>
				<div class="bottom-block">
					{% if module.copyright_text %}
					<div class="copyright-holder">
						&copy;{{ year }}. {{ module.copyright_text }}
					</div>
					{% endif %}
					{% if item.ico %}
					<ul class="socials-list">
						{% for item in module.social_network %}
						<li>
							{% set href = item.link_field.url.href %}
							{% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
							  {% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
							  {% if item.link_field.url.type is equalto "CALL_TO_ACTION"  %}
							    href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
							  {% else %}
							    href="{{ href|escape_url }}"
							  {% endif %}
							  {% if item.link_field.open_in_new_tab %}
							    target="_blank"
							  {% endif %}
							  {% if item.link_field.rel %}
							    rel="{{ item.link_field.rel|escape_attr }}"
							  {% endif %}
							  >
							  <i class="{{ item.ico }}"></i>
							</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
				<div class="privacy-links">
					{% set href = module.privacy_links.privacy_policy.link_field.url.href %}
					{% if module.privacy_links.privacy_policy.link_field.url.type is equalto "EMAIL_ADDRESS" %}
					  {% set href = "mailto:" + href %}
					{% endif %}
					<a
					  {% if module.privacy_links.privacy_policy.link_field.url.type is equalto "CALL_TO_ACTION"  %}
					    href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
					  {% else %}
					    href="{{ href|escape_url }}"
					  {% endif %}
					  {% if module.privacy_links.privacy_policy.link_field.open_in_new_tab %}
					    target="_blank"
					  {% endif %}
					  {% if module.privacy_links.privacy_policy.link_field.rel %}
					    rel="{{ module.privacy_links.privacy_policy.link_field.rel|escape_attr }}"
					  {% endif %}
					  >
					  {{ module.privacy_links.privacy_policy.text_field }}
					</a>
					&nbsp;&nbsp;|&nbsp;&nbsp;
					{% set href = module.privacy_links.cookie_policy.link_field.url.href %}
					{% if module.privacy_links.cookie_policy.link_field.url.type is equalto "EMAIL_ADDRESS" %}
					  {% set href = "mailto:" + href %}
					{% endif %}
					<a
					  {% if module.privacy_links.cookie_policy.link_field.url.type is equalto "CALL_TO_ACTION"  %}
					    href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
					  {% else %}
					    href="{{ href|escape_url }}"
					  {% endif %}
					  {% if module.privacy_links.cookie_policy.link_field.open_in_new_tab %}
					    target="_blank"
					  {% endif %}
					  {% if module.privacy_links.cookie_policy.link_field.rel %}
					    rel="{{ module.privacy_links.cookie_policy.link_field.rel|escape_attr }}"
					  {% endif %}
					  >
					  {{ module.privacy_links.cookie_policy.text_field }}
					</a>
				</div>
			</div>
		</footer>
		
		<div id="popup" class="lightbox-demo">
			<div class="module-block">
				{% if module.title %}
				<div class="title-block">
					{% inline_rich_text field="title" value="{{ module.title }}" %}
				</div>
				{% endif %}
				{% if module.button.text_field %}
				<div class="btn-holder">
					{% set href = module.button.link_field.url.href %}
					{% if module.button.link_field.url.type is equalto "EMAIL_ADDRESS" %}
					  {% set href = "mailto:" + href %}
					{% endif %}
					<a class="btn"
					  {% if module.button.link_field.url.type is equalto "CALL_TO_ACTION"  %}
					    href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
					  {% else %}
					    href="{{ href|escape_url }}"
					  {% endif %}
					  {% if module.button.link_field.open_in_new_tab %}
					    target="_blank"
					  {% endif %}
					  {% if module.button.link_field.rel %}
					    rel="{{ module.button.link_field.rel|escape_attr }}"
					  {% endif %}
					  >
					  {{ module.button.text_field }}
					</a>
				</div>
				{% endif %}
			</div>
			<button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
		</div>
	</div>
</body>
</html>
